[user]
	email = gmosedev@proton.me
	name = Garrett Moseke

[init]
	defaultBranch = main

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[push]
    autoSetupRemote = true

[pull]
    rebase = true

[fetch]
    prune = true
    all = true

[alias]
    # `git log` with patches shown with difftastic.
    dl = -c diff.external=difft log -p --ext-diff
    # Show the most recent commit with difftastic.
    ds = -c diff.external=difft show --ext-diff
    # `git diff` with difftastic.
    difft = -c diff.external=difft diff
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[rerere]
    enabled = true
    autoupdate = true

[includeIf "gitdir:~/Work/"]
    path = .gitconfig.work
