[user]
	email = gmosedev@proton.me
	name = Garrett Moseke

[push]
    autoSetupremote = true

[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

[pull]
    rebase = true
[init]
	defaultBranch = main
