# TODO:
# * Fix the interaction with jj module/git module (disable git if .jj is found)

palette = "catppuccin_mocha"

format = """
$username\
[](bg:blue fg:mauve)\
$directory\
[](fg:blue bg:surface0)\
[](fg:surface0)\
$git_branch\
${custom.jj}\
$rust\
$swift\
$zig\
$fill\
[](fg:sky)$kubernetes\
[](fg:rosewater bg:sky)$os
$status$character"""

[fill]
symbol = '—'

[os]
disabled=false
style="bg:rosewater fg:text"

[os.symbols]
Arch = " 󰣇 "
Macos = "  "

[status]
disabled=false
symbol="  "
recognize_signal_code=false

[kubernetes]
disabled=false
style="bg:sky fg:text italic"
format='[ $symbol$context( \($namespace\)) ]($style)'
detect_env_vars=['USE_GKE_GCLOUD_AUTH_PLUGIN']

[[kubernetes.contexts]]
# Using capture groups
# Contexts from GKE, AWS and other cloud providers usually carry additional information, like the region/zone.
# The following entry matches on the GKE format (`gke_projectname_zone_cluster-name`)
# and renames every matching kube context into a more readable format (`gke-cluster-name`):
context_pattern = "gke_.*_(?P<cluster>[\\w-]+)"
context_alias = "gke-$cluster"

[username]
show_always = true
style_user = "bg:mauve fg:text"
style_root = "bg:red"
format = '[  $user ]($style)'
disabled = false

[directory]
style = "bg:blue fg:text"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

# Shorthand for long paths
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[git_branch]
symbol = ""
only_attached = true
style = "bg:green fg:text bold"
format = "\b[](fg:surface0 bg:green)[ $symbol $branch ]($style)[](fg:green)"

[custom.jj]
detect_folders = ['.jj']
style = "bg:green fg:text bold"
format = "\b[](bg:green fg:surface0)[ $symbol $output  ]($style)"
symbol = "󱗆 "
command = '''
jj log --revisions @ --no-graph --ignore-working-copy --color never --limit 1 --template powerline_summary
'''

[rust]
symbol = ""
style = "bg:red fg:text"
format = "\b[](fg:green bg:red)[ $symbol ($version) ]($style)[](fg:red bg:surface0)[](fg:surface0)"

[swift]
symbol = ""
style = "bg:peach fg:text"
format = "\b[](bg:green fg:green)[ $symbol ($version) ]($style)[](fg:peach bg:surface0)[](fg:surface0)"

[zig]
symbol = ""
style = "bg:yellow fg:text"
format = "\b[](fg:green bg:yellow)[ $symbol ($version) ]($style)[](fg:yellow bg:surface0)[](fg:surface0)"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#11111b"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
