[user]
name = "Garrett Moseke"
email = "gmosedev@proton.me"

[ui]
editor = 'nvim'
default-command = ["status"]

[signing]
behavior = "own"
backend = "gpg"

[git]
git_push_bookmark = 'garrett/jj/'
private-commits = "description(glob:'wip:*')"

[remotes.origin]
auto-track-bookmarks = "main"

# disable pagination for `jj status`, use `delta` for `jj diff` and `jj show`
[[--scope]]
--when.commands = ["status"]
[--scope.ui]
paginate = "never"
[[--scope]]
--when.commands = ["diff", "show"]
[--scope.ui]
pager = "delta"
diff-formatter = ":git"

[revset-aliases]
"closest_pushable(to)" = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'
"closest_bookmark(to)" = "heads(::to & bookmarks())"
# bough from https://crabmusket.net/2025/jj-bough-a-useful-alias-for-stacked-branches/
'bough(x, m)' = 'descendants(ancestors(x) ~ ancestors(m))'
'bough(x)' = 'bough(x, trunk())'
'bough' = 'bough(@)'

[aliases]
l = ['log']
lv = ['log', '--template', 'builtin_log_detailed']
la = ['log', '-r', "::"]
init = ['git', 'init', '--colocate']
push = ['git', 'push']
pull = ['git', 'fetch']
# tug from https://andre.arko.net/2025/09/28/stupid-jj-tricks/
tug = ["util", "exec", "--", "sh", "-c", """
if [ "x$1" = "x" ]; then
  jj bookmark move --from "closest_bookmark(@)" --to "closest_pushable(@)"
else
  jj bookmark move --to "closest_pushable(@)" "$@"
fi
""", ""]
# from https://ofcr.se/jujutsu-merge-workflow#rebasing-all-parents
rebp = ['rebase', '-s', '"all:roots(main..@)"', '-d', 'main']


# TODO: finish
# tmpworkspace = []

[template-aliases]
powerline_summary = '''
  separate(" ",
    change_id.shortest(),
    "‖",
    coalesce(bookmarks, "󰧎"),
    "‖",
    concat(
      if(conflict, ""),
      if(hidden, "󱙝"),
      if(immutable, ""),
    ),
    if(empty, "∅"),
    coalesce(
      truncate_end(10, description.first_line(), "…"),
      "(no description)",
    ),
  )
'''
